{% extends 'base.html' %}

{% block title %}Contact Us - Apex Global{% endblock %}
<style>
    
</style>
{% block content %}
    <!-- Contact Us Section -->
    <section class="contact-us">
        <div class="container">
            <h1>Contact Us</h1>
            <div class="contact-details">
                <div class="contact-info">
                    <h2>Get in Touch</h2>
                    <p><strong>Address:</strong>Plot No 368/1, Munnar Alang, Dist-Bhavnagar, Gujarat, INDIA</p>
                    <p><strong>Phone:</strong> +91 97371 09132</p>
                    <p><strong>Email:</strong> apexglobalindia07@gmail.com</p>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
